node_modules
**/node_modules
dist
**/dist
*.d.ts
**/*.d.ts
vite.config.ts
**/vite.config.ts
**/tailwind.config.ts
**/*.test.ts
**/*.test.tsx
**/test/**
**/__tests__/**
**/__mocks__/**
**/coverage/**
**/.next/**
**/out/**
**/build/**
**/.vercel/**
**/.netlify/**
**/public/**
